/* Styles Folder */
@import url("./colors.css");
@import url("./interactibles.css");

/* Header */
@import url("../components/header/Header.css");

/* Homepage */
@import url("../components/views/homepage/Homepage.css");

/* Auth Pages */
@import url("../components/views/auth/auth.css");

/* Soup Menu */
@import url("../components/views/soupList/SoupList.css");

/* Soup Detail */
@import url("../components/views/soupDetails/SoupDetails.css");
@import url("../components/views/soupDetails/NutritionLabel.css");

/* Cart */
@import url("../components/views/cart/Cart.css");
@import url("../components/views/cart/CartItem.css");