:root {
    /* Base Colors */
    --black: #161616;
    --white: #fff;
    --off-white: #eee;
    --orange: #CF3C28;
    --yellow: #F9A71F;

    /* Transparent Values */
    --black-opacity-25: rgba(0, 0, 0, 0.25);
    --black-opacity-50: rgba(0, 0, 0, 0.50);
    --black-opacity-75: rgba(0, 0, 0, 0.75);

    /* Header */
    --header-background: var(--orange);
    --header-link-color: var(--off-white);
    --header-link-hover: var(--white);
}