#home-page {
    height: 100%;
}

.home-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-image-text-container {
    color: var(--white);
    padding: 1rem;
    text-align: center;
    text-shadow: 0 0 10px #333;
}

#home-page-menu-link {
    margin: 10px 0;
    background-color: var(--yellow);
    box-shadow: 0 0 10px #333;
}

#home-image-one {
    background-image: url("https://images.pexels.com/photos/209540/pexels-photo-209540.jpeg");
}