.cart-item {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 1rem;
}

.cart-item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cart-item-info {
    display: flex;
}

.cart-item-info-text,
.cart-item-options {
    display: flex;
    justify-content: space-between;
}

.cart-item-info-text {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-options {
    margin-top: 0.5rem;
}

.cart-item-img {
    width: 80px;
    object-fit: contain;
    margin-right: 1rem;
}

.cart-item input {
    border: solid 2px #333;
}