/* CSS Import */
@import url("./styles/_imports.css");

html,
body,
#root,
.app {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.app-view {
    height: var(--appview-height-100);
    overflow-y: auto;
}

body {
    background-color: var(--off-white);
}